.active {
    background-color: #000000 !important;
}

.nav-link{
    color: #000000;
    font-weight: 700;
    border-radius: 0rem!important;
}
.nav-item{
    border: 1.5px solid #000000!important;
}
.navigationBar{
    margin-top: 30px;
}

/* .bar{
    left: 2%;  
    background-image: url("/A-broad/images/home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
} */

.border{
    border: 2px solid #000000!important;
}

#home{
    padding-top: 50px;
    text-align: center;
}

.about{
    padding-top: 3%;
}

#services{
    padding-top: 50px; 
    text-align: center;
}